<table>
  <tr>
    <th rowspan="3">M/s Rajat Engineering Service<br>Address</th>
    <th>Invoice No:</th>
    <th>Dated: <br>12/12/2017</th>
  </tr>
  <tr>
    <td>Delivery Note</td>
    <td></td>
  </tr>
  <tr>
    <td>Supplier Reference</td>
    <td>Other reference(s)<br><br></td>
  </tr>
  <tr>
    <td rowspan="3">buyer:<br>Reliance company</td>
    <td>Buyer's Order No:<br>23233</td>
    <td>Dated:<br>12/12/2017</td>
  </tr>
  <tr>
    <td>Dispatch Document No<br>2235345</td>
    <td>Dated<br>12/12/2017</td>
  </tr>
  <tr>
    <td>Dispatched Through:<br>--------------------</td>
    <td>Destination:<br>Hyderabad</td>
  </tr>
</table>